<div class="container">
	<h2>Autocadastro</h2>
	<form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="form-group">
				<label>CPF:</label>
				<input
					type="text"
					formControlName="document"
					placeholder="Digite seu CPF"
				/>
			</div>
			<div class="form-group">
				<label>Nome:</label>
				<input
					type="text"
					formControlName="name"
					placeholder="Digite seu nome"
				/>
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<label>E-mail:</label>
				<input
					type="email"
					formControlName="email"
					placeholder="Digite seu e-mail"
				/>
			</div>
			<div class="form-group">
				<label>Telefone:</label>
				<input
					type="text"
					formControlName="phone"
					placeholder="Digite seu telefone"
				/>
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<label>CEP:</label>
				<input
					type="text"
					formControlName="zip_code"
					placeholder="Digite o CEP"
					(blur)="onCepChange()"
				/>
			</div>
			<div class="form-group">
				<label>Endereço Completo:</label>
				<input type="text" formControlName="address" placeholder="Endereço" />
			</div>
		</div>

		<div class="button-group">
			<button type="submit" [disabled]="!cadastroForm.valid">Cadastrar</button>
			<button type="button" (click)="voltarParaLogin()">Voltar</button>
		</div>
	</form>
</div>
