<p-card class="card"
    [style]="{
        'justify-self': 'center',
        'background-color': 'rgba(115,140,88,0.37)',
        'min-width': '210px',
        'max-width': '20rem'}"
        >
    <ng-template #header>
        <i class="bi bi-quote"
                [style]="{
                    'font-size': '3rem'
                }"
        ></i>
    </ng-template>
    <P [style]="{'text-align': 'center'}">
        "{{testmony}}"
    </P>
    <ng-template #footer>
        <h3>- {{personName}} </h3>
    </ng-template>
</p-card>
