<div class="card">
  <p-toolbar [style]="{'padding': '1rem 1rem 1rem 1.5rem',
           background: 'rgba(255, 255, 255, 0.03)',
          'box-shadow': '0 4px 30px rgba(0, 0, 0, 0.5)',
          'backdrop-filter': 'blur(10.6px)',
          '-webkit-backdrop-filter': 'blur(10.6px)',
          'border':'none',
          'background-color': backgroudColor
           }">
    <ng-template #start>
      <div class="flex items-center gap-2">
        <i class="pi pi-microchip"
          [style.fontSize]="'2rem'"
          [style.color]="logoColor"></i>
          <span style="margin-left: 1rem; font-size: 2rem;">
            Olá, {{personName}}
          </span>
      </div>
    </ng-template>

    <ng-template #end>
      @for (btn of buttons; track btn) {
        <div class="flex items-center gap-2">
          <p-button [label]="btn.label" 
            [icon]="btn.icon"
            [severity]="btn.severity" 
            [rounded]="true" 
            [style] = "{'margin-right': '1rem'}" 
            (onClick)="btn.onCLick()"/>
        </div>
      }
    </ng-template>
  </p-toolbar>
</div>
