<section class="pedidos">
	<h2 class="pedidos__titulo">Ordens de serviço:</h2>
	<div class="container">
		<div class="row">
			<div class="pedidos__tabela">
				<table class="table caption-top">
					<thead>
						<tr>
							<th scope="co">ID</th>
							<th scope="col">Data abertura</th>
							<th scope="col">Status</th>
							<th scope="col">Valor</th>
							<th scope="col">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngIf="orders.length <= 0">
							<td colspan="100%" class="text-center">
								Nenhuma ordem de serviço disponível
							</td>
						</tr>
						<tr *ngFor="let order of orders">
							<td>{{ order.id }}</td>
							<td>{{ order.created_at }}</td>
							<td>{{ order.status }}</td>
							<td>{{ order.price || "-" }}</td>
							<td>
								<button
									*ngIf="displayActionBtn('approve', order)"
									type="button"
									class="btn btn-primary mx-2"
									(click)="aprovarPedido()"
								>
									Aprovar
								</button>
								<button
									*ngIf="displayActionBtn('reject', order)"
									type="button"
									class="btn btn-danger mx-2"
									(click)="rejeitarPedido()"
								>
									Rejeitar
								</button>
								<button
									type="button"
									class="btn btn-info mx-2"
									(click)="visualizarPedido('4')"
								>
									Visualizar
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
