<div class="m-3">
	<div class="d-flex justify-content-between align-items-center mb-3">
		<h2>Ordens de Serviço</h2>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Data abertura</th>
				<th>Equipamento</th>
				<th>Descrição</th>
				<th>Status</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngIf="orders.length <= 0">
				<td colspan="100%" class="text-center">
					Nenhuma ordem de serviço disponível
				</td>
			</tr>
			<tr *ngFor="let order of orders">
				<td>{{ order.id }}</td>
				<td>{{ order.created_at }}</td>
				<td>{{ order.equipment_description }}</td>
				<td>
					<ng-container
						*ngIf="order.deffect_description; else description_null"
					>
						<span *ngIf="order.deffect_description.length <= 30">
							{{ order.deffect_description }}
						</span>
						<span *ngIf="order.deffect_description.length > 30">
							{{ order.deffect_description.slice(0, 30) }}...
						</span>
					</ng-container>
					<ng-template #description_null>
						<span>N/A</span>
					</ng-template>
				</td>
				<td>{{ order.status }}</td>
				<td>
					<button
						*ngFor="let btn of getActionButtons(order)"
						class="btn mx-1"
						[class]="btn.classes"
						(click)="updateOrder(btn.action, order)"
					>
						{{ btn.label }}
					</button>
					<button
						type="button"
						class="btn btn-info mx-1"
						(click)="orderModal(order.id!)"
					>
						Visualizar
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
