<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu"
            class="area-logada__sidebar col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Bem vindo(a)!</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                </div>
            </div>

            <section class="pedidos">
                <h2 class="pedidos__titulo"> Solicitações em aberto:</h2>
                <div class="container">
                    <div class="row">
                        <div class="pedidos__tabela">
                            <table class="table caption-top ">
                                <thead>
                                    <tr>
                                        <th scope="co">Nº do Pedido</th>
                                        <th scope="col">Status do Pedido</th>
                              
                                        <th scope="col">Data</th>
                                        <th scope="col">Valor</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <ng-container >
                                        <tr >
                                            <td>#01</td>
                                            <td><button type="button" class="btn btn-primary">Aprovado</button></td>
                                            <td>25/03/2025</td>
                                            <td>R$:555 </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>