.container{
    background-color: rgba(115,140,88,0.37);
    padding: 0 2.5vw;
}
.top-content{
    display: flex;
    justify-content: space-between;
    
}
@media (max-width: 1000px) {
    h2{
        font-size: 15px;
    }
    p{
        font-size: 10px;
    }
    
}