<app-navbar-funcionario style="position: fixed; top: 0; left: 0; width: 100%; z-index: 1000;"></app-navbar-funcionario>

<div class="page">
  <div class="filters card-like">
    <div class="titles">
      <div class="title bold">Funcionários</div>
      <div class="subtitle">Gerencie os funcionário do sistema</div>
    </div>

    <div class="meta-right">
      <button mat-raised-button color="primary" (click)="adicionar()">
        <mat-icon>add</mat-icon>
        <span class="btn-text">Nova Funcionário</span>
      </button>
    </div>
  </div>

  <p-table [value]="funcionarios()" [paginator]="true" [rows]="5" [responsiveLayout]="'scroll'"
    [tableStyle]="{ 'min-width': '880px' }" styleClass="w-100 shadow-sm radius-md">

    <ng-template pTemplate="header">
      <tr>
        <th style="min-width:140px">Nome</th>
        <th style="min-width:140px">E-mail</th>
		<th style="min-width:140px">Nascimento</th>
		<th>Status</th>
        <th style="min-width:260px">Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-f>
      <tr>
        <td> {{ f.nome }} </td>
		<td> {{ f.email }} </td>
		<td> {{ f.dataNascimento | date:'dd/MM/yyyy' }} </td>

        <td class="col-status">
          <span class="pill" [class.pill-sucesso]="f.ativo" [class.pill-erro]="!f.ativo">
            <mat-icon class="pill-ico" *ngIf="f.ativo">check_circle</mat-icon>
            <mat-icon class="pill-ico" *ngIf="!f.ativo">cancel</mat-icon>
            {{ f.ativo ? 'Ativa' : 'Inativa' }}
          </span>
        </td>

        <td class="acao-wrap">
          <button mat-stroked-button color="primary" (click)="editar(f)" [disabled]="!f.ativo">
            <mat-icon>edit</mat-icon>
            <span class="btn-text">Editar</span>
          </button>

          <button mat-stroked-button color="warn" (click)="remover(f)" *ngIf="f.ativo">
            <mat-icon>delete</mat-icon>
            <span class="btn-text">Remover</span>
          </button>

          <button mat-stroked-button color="accent" (click)="reativar(f)" *ngIf="!f.ativo">
            <mat-icon>restore</mat-icon>
            <span class="btn-text">Reativar</span>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">
          <div class="sem-dados">
            Nenhum funcionário cadastrado.
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>