:root{
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
    --var-cor: #84f5c1;
}