<form method="post">
  <div class="container">
    <div class="container-input-group">
        <div class="input-group">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" placeholder="Digite seu nome completo" required />
        </div>
        <div class="input-group">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required />
        </div>
        <div class="input-group">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha" required />
        </div>
        <div class="input-group">
            <label for="confirm-password">Confirmar Senha</label>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirme sua senha" required />
        </div>
    </div>
    <div class="container-buttons-group">
      <button class="btn btn-primary">Cadastrar</button>
      <button class="btn btn-secondary">Cancelar</button>
    </div>
  </div>
</form>
