<div class="wallpaper">
  <p-card styleClass="login-card">
    <ng-template pTemplate="title">
      <div class="login-title">Login</div>
    </ng-template>

    <ng-template pTemplate="content">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        
        <div class="field">
          <label class="field-label" for="email">E-mail</label>
          <input
            pInputText
            id="email"
            type="email"
            formControlName="email"
            class="w-full" />
          <small
            *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
            class="p-error">
            E-mail inválido.
          </small>
        </div>

        <div class="field">
          <label class="field-label" for="password">Senha</label>
          <p-password
            inputId="password"
            formControlName="password"
            [feedback]="false"
            styleClass="w-full"
            inputStyleClass="w-full">
          </p-password>
          <small
            *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
            class="p-error">
            Senha obrigatória.
          </small>
        </div>

        <div class="error" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <div class="btns">
          <button pButton type="button" label="Autocadastro" (click)="goToRegister()" class="p-button-text"></button>
          <button pButton type="submit" label="Entrar" [disabled]="loginForm.invalid"></button>
        </div>
      </form>
    </ng-template>
  </p-card>
</div>
