<app-header
style="position: fixed; top: 0; left: 0; width: 100%; z-index: 1000;"
>
</app-header>
<div class="wallpaper">
    <div class="wallpaper-text">
        <style>
            .wallpaper-text{
                display: flex;
                flex-direction: column;
                width: 55%;
                height: 100%;
                justify-self: left;
                align-self: flex;
                justify-content: center;
                align-items: center;
            }
        </style>
        <i class="pi pi-microchip" style="
                                color: aliceblue;
                                font-size: 10rem;"></i>
            <h1 class="wallpaper-text-title"
            style="
                text-align: center;
                font-size: 8dvw;
                color: aliceblue;
                margin-bottom: 0px;"
            >Manutenção</h1>

            <h2 class="wallpaper-text-subtitle"
            style="
                text-align: center;
                font-size: 1.3dvw;
                color: aliceblue;
                margin-top: 0;
                letter-spacing: 8px;"
            >DE  EQUIPAMENTOS</h2>
            
            <div class="flex flex-col items-center gap-2">
              <span class="animate-bounce h-8 w-8 bg-primary text-primary-contrast rounded-full inline-flex items-center justify-center">
              <i class="pi pi-arrow-down"style="
                                color: aliceblue;
                                font-size: 3rem;"></i>
              </span>
            </div>

    </div>

</div>
<p-card [style]="{'max-width': '80dvw', 'justify-self': 'center', 'margin-top': '10dvh'}" header="QUEM SOMOS?">
    <p style="font-size: larger; text-align: justify;">
    Somos especializados em manutenção preventiva e corretiva de equipamentos, oferecendo soluções ágeis, seguras e de alta qualidade. Nosso compromisso é garantir o pleno funcionamento dos seus equipamentos, prolongando sua vida útil e reduzindo custos operacionais.
    Com uma equipe técnica qualificada e atendimento personalizado, trabalhamos para que você tenha tranquilidade e confiança no dia a dia. Conte conosco para cuidar dos seus equipamentos com excelência e profissionalismo.
    </p>
</p-card>
<div
style="margin-top: 3rem;"
>    
    <app-testmonys-carousel></app-testmonys-carousel>
</div>    
<div class="footer">
    <app-footer>
        
    </app-footer>
</div>