<app-header
style="position: fixed; top: 0; left: 0; width: 100%; z-index: 1000;"
>
</app-header>
<div class="wallpaper">
    <div class="wallpaper-text">
        <style>
            .wallpaper-text{
                display: flex;
                flex-direction: column;
                /* background-color: red; */
                width: 55%;
                height: 100%;
                justify-self: left;
                align-self: flex;
                justify-content: center;
                align-items: center;
            }
        </style>
        <i class="pi pi-microchip" style="
                                color: aliceblue;
                                font-size: 10rem;"></i>
            <h1 class="wallpaper-text-title"
            style="
                text-align: center;
                font-size: 8dvw;
                color: aliceblue;"
            >Manuteção</h1>
            <div class="flex flex-col items-center gap-2">
              <span class="animate-bounce h-8 w-8 bg-primary text-primary-contrast rounded-full inline-flex items-center justify-center">
              <i class="pi pi-arrow-down"style="
                                color: aliceblue;
                                font-size: 3rem;"></i>
              </span>
            </div>

    </div>

</div>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum itaque eaque cumque sit, animi debitis illum in! Odit culpa, animi amet ipsum quis<br> quo est, dolorem natus quos delectus reiciendis.
    Quos, similique, dolores pariatur accusamus sint magnam, perferendis laboriosam perspiciatis tempore ipsam non natus cumque amet laborum itaque neque beatae consequatur.<br><br> Quas, culpa? Molestiae veniam eaque omnis temporibus! Quibusdam, recusandae.
    Ad repellat neque consectetur, cupiditate blanditiis voluptatem distinctio adipisci harum a consequuntur iusto error corrupti sint cum dolores. Voluptatem minus maiores totam modi ea quas error exercitationem similique mollitia rem!
</p>