
<app-header
  [logoColor]="'black'"
  [personName]="userName"
  [backgroudColor]="'#FAF9FD'"
  [buttons]="[
      {
        label: 'Sair',
        severity: 'secondary',
        onCLick: logoff,
        icon: 'pi pi-sign-out'
      }
    ]"
    [headerlinks]="[
      {
        label: 'Início',
        routerLink: 'funcionario',
        icon: 'pi pi-home',
      },
      {
        label: 'Equipamentos',
        routerLink: 'equipamentos',
        icon: 'pi pi-desktop'
      },
      {
        label: 'Funcionários',
        routerLink: 'funcionarios',
        icon: 'pi pi-users'
      },
      {
        label: 'Relatórios',
        routerLink: 'relatorios',
        icon: 'pi pi-file'
      }
    ]"
></app-header>
