<div class="container">
    <div class="top-content">
        <h2>Resolva seu problema hoje</h2>
        <div class="contacts">
            <p-button rounded icon="pi pi-instagram"/>
            <p-button rounded icon="pi pi-facebook"/>
            <p-button rounded icon="pi pi-whatsapp"/>
        </div>
    </div>
    <div class="links-containers" style="display: flex;">
        <div class="links">
            <ul>
                <li>
                    <p-button label="BUTÂO" text/>
                </li>
                <li>
                    <p-button label="BUTÂO" text/>
                </li>
                <li>
                    <p-button label="BUTÂO" text/>
                </li>
                <li>
                    <p-button label="BUTÂO" text/>
                </li>
            </ul>
        </div>
        <div class="links">
            <ul>
                <li>
                    <p-button label="BUTÂO" text/>
                </li>
                <li>
                    <p-button label="BUTÂO" text/>
                </li>
                <li>
                    <p-button label="BUTÂO" text/>
                </li>
                <li>
                    <p-button label="BUTÂO" text/>
                </li>
            </ul>
        </div>
        <div class="links">
            <ul>
                <li>
                    <p-button label="BUTÂO" text/>
                </li>
                <li>
                    <p-button label="BUTÂO" text/>
                </li>
                <li>
                    <p-button label="BUTÂO" text/>
                </li>
                <li>
                    <p-button label="BUTÂO" text/>
                </li>
            </ul>
        </div>
        <div class="links">
            <ul>
                <li>
                    <p-button label="BUTÂO" text/>
                </li>
                <li>
                    <p-button label="BUTÂO" text/>
                </li>
                <li>
                    <p-button label="BUTÂO" text/>
                </li>
                <li>
                    <p-button label="BUTÂO" text/>
                </li>
            </ul>
        </div>
    </div>
</div>
