<div class="container">
    <div class="top-content">
        <h2>Resolva seu problema hoje</h2>
        <div class="contacts">
            <p-button text size="large" icon="pi pi-instagram"/>
            <p-button text size="large" icon="pi pi-facebook"/>
            <p-button text size="large" icon="pi pi-whatsapp"/>
        </div>
    </div>
    <div class="bottom">
        <p>Entre em contato para mais informações: <span><a href="(41)99999-9999">(41) 99999-9999</a></span></p>
    </div>
</div>
