<div class="modal-content">
	<div class="card shadow-sm">
		<div class="card-header bg-primary text-white">
			<h5 class="">Ordem de Serviço #{{ order.id }}</h5>
		</div>
		<div class="card-body">
			<h6 class="text-muted">Detalhes</h6>
			<table class="table table-striped">
				<tbody>
					<tr>
						<th>ID Cliente</th>
						<td>{{ order.client_id }}</td>
					</tr>
					<tr>
						<th>ID Funcionário</th>
						<td>{{ order.employee_id }}</td>
					</tr>
					<tr>
						<th>ID Categoria</th>
						<td>{{ order.category_id }}</td>
					</tr>
					<tr>
						<th>Equipamento</th>
						<td>{{ order.equipment_description }}</td>
					</tr>
					<tr>
						<th>Defeito</th>
						<td>{{ order.deffect_description }}</td>
					</tr>
					<tr>
						<th>Preço orçado</th>
						<td>{{ order.price ? "R$ " + order.price : " - " }}</td>
					</tr>
					<tr>
						<th>Data da Abertura</th>
						<td>{{ order.created_at }}</td>
					</tr>
					<tr>
						<th>Status</th>
						<td>
							<span class="badge bg-success">{{ order.status }}</span>
						</td>
					</tr>
				</tbody>
			</table>

			<h6 class="text-muted">Histórico de Ações</h6>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Data e Hora</th>
						<th>Status</th>
						<th>ID Funcionário</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let action of order.order_actions">
						<td>{{ action.created_at }}</td>
						<td>
							<span class="badge bg-info">{{ action.STATUS }}</span>
						</td>
						<td>{{ action.employee_id || "-" }}</td>
					</tr>
					<tr *ngIf="order.order_actions.length <= 0">
						<td colspan="3">Nenhuma ação registrada</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
